@font-face {
  font-family: "Inter";
  src: url(../../asseds/Inter-Regular.ttf);
}

.movies-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 36px;
  gap: 30px;
  font-family: "Inter";
}
.loading-spin {
  margin-top: 100px;
  margin-bottom: 100px;
}
