ul,
ul li {
  list-style: none;
}
.genres {

  text-align: center;
  width: 80px;
  height: 18px;
  font-size: 12px;
  line-height: 14px;
  background-color: rgba(221, 216, 216, 0.65);
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(51, 49, 49, 0.65);
}
ul.genres-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 180px;
  gap: 10px
}
